body {
  height: 100%;
  margin: 0;
}

.container {
  background-image: url(/media/desert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.plane{
    background-image: url(/media/Paper-Plane.png);
    position: absolute;
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 10%;
    left: 5%;
    transition: all 4s ease-in-out;
}

.container:hover .plane{
    bottom: 80%;
    left: 80%;
}